<div class="container">
    <strong>{{title}}</strong>
    <div class="row">
      <div class="col-md-3" *ngFor="let w of wine">
        <a [routerLink]="['wine', w.getURIEncodedName()]">
          <div class="thumbnail">
            <img src="{{'http://localhost:3000/images/' + w.image}}" alt="{{w.name}}">
            <div class="caption">
              <h4>{{w.name | truncate: [20]}}</h4>
              <strong>{{w.type}}, {{w.year}}</strong>
              <p>{{w.origin}}</p>
              <a [routerLink]="['wine', w.getURIEncodedName()]" class="btn btn-success" role="button">Buy Now!</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  <div><a [routerLink]="['wine']">See more...</a></div>
  <hr/>
</div>
