<div>
  <div class="branding">
      <h1>Wine World</h1>
      <h3>We are happy to serve you our high quality wines!</h3>
  </div>
  <div class="top-wine-content">
      <h4>Birthday celebration or fancy dinner? We've got you covered!</h4>
      <wine-list-small [wine]="topSellingWine" [title]="'Choose from our top selling products'">
      </wine-list-small>
      <wine-list-small [wine]="recommendedWine" [title]="'Or trust our fine wine recommendations'">
      </wine-list-small>
  </div>
  <h4>
    Check out our <a [routerLink]="[articles]">articles</a> to learn fascinating facts about wine.
    Become an expert today and impress your friends!
    <br><br>
  </h4>
</div>
