<main class="main" id="main">
    <section class="section">
        <div class="wrapper">
            <header class="header  header--large">
                <h1 class="title">Ahhhhhhhhhhh! This page doesn't exist</h1>
                <h2>Not to worry. You can either head back to <a href="/">our homepage</a>, or sit there and listen to a goat
                    scream like a human.</h2>
            </header>
            <div class="content  fit-vid  vid is-loaded">
                <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
<iframe src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&amp;rel=0&amp;showinfo=0&amp;controls=0&amp;iv_load_policy=3&amp;loop=1&amp;playlist=SIaFtAKnqBU&amp;modestbranding=1&amp;autoplay=1"
    frameborder="0" webkitallowfullscreen="" allowfullscreen="" id="fitvid243454"></iframe>
</div>
</div>
</div>
</section>
</main>