<div class="jumbotron">
    <h2>Log in the World of Wine community</h2>  
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" placeholder="Username" required [formControl]="loginForm.controls['username']">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" required [formControl]="loginForm.controls['password']">
      </div>      
      <div class="form-group">
        <button type="submit" class="btn btn-default"  [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>