<h1>Create a new article</h1>
<div class="jumbotron">
  <h2>Register Form</h2>
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['title'].valid && complexForm.controls['title'].touched}">
      <label>Title:</label>
      <input class="form-control" type="text" placeholder="Title" [formControl]="complexForm.controls['title']">
      <!-- The hasError method will tell us if a particular error exists -->
      <div *ngIf="complexForm.controls['title'].hasError('required') && complexForm.controls['title'].touched" class="alert alert-danger">You must include a title.</div>
      <div *ngIf="complexForm.controls['title'].hasError('minlength') && complexForm.controls['title'].touched" class="alert alert-danger">Title must be at least 5 characters long.</div>
      <div *ngIf="complexForm.controls['title'].hasError('maxlength') && complexForm.controls['title'].touched" class="alert alert-danger">Your title cannot exceed 100 characters.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['content'].valid && complexForm.controls['content'].touched}">
      <label>Article Content</label>
      <input class="form-control" type="text" [formControl]="complexForm.controls['content']">
      <!-- The hasError method can work with the built in validators but custom validators as well -->
      <div *ngIf="complexForm.controls['content'].hasError('required') && complexForm.controls['content'].touched" class="alert alert-danger">You must include content.</div>
      <div *ngIf="complexForm.controls['content'].hasError('minlength') && complexForm.controls['content'].touched" class="alert alert-danger">content must be at least 5 characters long.</div>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit article</button>
    </div>
  </form>
</div>